USE [HotelReservationDb]
GO
ALTER TABLE [dbo].[RoomRates] DROP CONSTRAINT [FK_RoomRates_RoomTypes]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [FK_Reservations_RoomTypes]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [FK_Reservations_MealPlans]
GO
ALTER TABLE [dbo].[MealPlanRates] DROP CONSTRAINT [FK_MealPlanRates_MealPlans]
GO
/****** Object:  Index [IX_RoomRates]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[RoomRates] DROP CONSTRAINT [IX_RoomRates]
GO
/****** Object:  Index [IX_Reservations_1]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [IX_Reservations_1]
GO
/****** Object:  Index [IX_Reservations]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [IX_Reservations]
GO
/****** Object:  Index [IX_MealPlanRates]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[MealPlanRates] DROP CONSTRAINT [IX_MealPlanRates]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 6/26/2025 1:27:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoomTypes]') AND type in (N'U'))
DROP TABLE [dbo].[RoomTypes]
GO
/****** Object:  Table [dbo].[RoomRates]    Script Date: 6/26/2025 1:27:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoomRates]') AND type in (N'U'))
DROP TABLE [dbo].[RoomRates]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 6/26/2025 1:27:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reservations]') AND type in (N'U'))
DROP TABLE [dbo].[Reservations]
GO
/****** Object:  Table [dbo].[MealPlans]    Script Date: 6/26/2025 1:27:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MealPlans]') AND type in (N'U'))
DROP TABLE [dbo].[MealPlans]
GO
/****** Object:  Table [dbo].[MealPlanRates]    Script Date: 6/26/2025 1:27:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MealPlanRates]') AND type in (N'U'))
DROP TABLE [dbo].[MealPlanRates]
GO
USE [master]
GO
/****** Object:  Database [HotelReservationDb]    Script Date: 6/26/2025 1:27:02 PM ******/
DROP DATABASE [HotelReservationDb]
GO
/****** Object:  Database [HotelReservationDb]    Script Date: 6/26/2025 1:27:02 PM ******/
CREATE DATABASE [HotelReservationDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelReservationDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelReservationDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelReservationDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HotelReservationDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelReservationDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelReservationDb]
GO
/****** Object:  Table [dbo].[MealPlanRates]    Script Date: 6/26/2025 1:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlanRates](
	[MealPlanRateId] [int] IDENTITY(1,1) NOT NULL,
	[MealPlanId] [int] NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[RatePerPersonPerNight] [decimal](8, 3) NOT NULL,
 CONSTRAINT [PK_MealPlanRates] PRIMARY KEY CLUSTERED 
(
	[MealPlanRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPlans]    Script Date: 6/26/2025 1:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlans](
	[MealPlanId] [int] IDENTITY(1,1) NOT NULL,
	[MealPlanName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_MealPlans] PRIMARY KEY CLUSTERED 
(
	[MealPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 6/26/2025 1:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [int] IDENTITY(1,1) NOT NULL,
	[GuestName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Adults] [int] NOT NULL,
	[Children] [int] NOT NULL,
	[RoomTypeId] [int] NULL,
	[MealPlanId] [int] NULL,
	[CheckIn] [date] NOT NULL,
	[CheckOut] [date] NOT NULL,
	[TotalPrice] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomRates]    Script Date: 6/26/2025 1:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomRates](
	[RoomRateId] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeId] [int] NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[RatePerNight] [decimal](8, 3) NOT NULL,
 CONSTRAINT [PK_RoomRates] PRIMARY KEY CLUSTERED 
(
	[RoomRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 6/26/2025 1:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeName] [nchar](50) NOT NULL,
	[MaxAdults] [int] NOT NULL,
	[MaxChildren] [int] NOT NULL,
 CONSTRAINT [PK_RoomTypes] PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MealPlanRates] ON 

INSERT [dbo].[MealPlanRates] ([MealPlanRateId], [MealPlanId], [FromDate], [ToDate], [RatePerPersonPerNight]) VALUES (1, 1, CAST(N'2026-01-01' AS Date), CAST(N'2026-05-30' AS Date), CAST(5.000 AS Decimal(8, 3)))
INSERT [dbo].[MealPlanRates] ([MealPlanRateId], [MealPlanId], [FromDate], [ToDate], [RatePerPersonPerNight]) VALUES (2, 2, CAST(N'2026-01-01' AS Date), CAST(N'2026-05-30' AS Date), CAST(20.000 AS Decimal(8, 3)))
INSERT [dbo].[MealPlanRates] ([MealPlanRateId], [MealPlanId], [FromDate], [ToDate], [RatePerPersonPerNight]) VALUES (3, 3, CAST(N'2026-01-01' AS Date), CAST(N'2026-05-30' AS Date), CAST(25.000 AS Decimal(8, 3)))
SET IDENTITY_INSERT [dbo].[MealPlanRates] OFF
GO
SET IDENTITY_INSERT [dbo].[MealPlans] ON 

INSERT [dbo].[MealPlans] ([MealPlanId], [MealPlanName]) VALUES (1, N'Half Board                                        ')
INSERT [dbo].[MealPlans] ([MealPlanId], [MealPlanName]) VALUES (2, N'Full Board                                        ')
INSERT [dbo].[MealPlans] ([MealPlanId], [MealPlanName]) VALUES (3, N'All Inclusive                                     ')
SET IDENTITY_INSERT [dbo].[MealPlans] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationId], [GuestName], [Email], [Country], [Adults], [Children], [RoomTypeId], [MealPlanId], [CheckIn], [CheckOut], [TotalPrice]) VALUES (1, N'Youstina kamal', N'Youstinakamal58@gmail.com', N'Egypt', 5, 2, 1, 1, CAST(N'2025-06-24' AS Date), CAST(N'2025-06-28' AS Date), NULL)
INSERT [dbo].[Reservations] ([ReservationId], [GuestName], [Email], [Country], [Adults], [Children], [RoomTypeId], [MealPlanId], [CheckIn], [CheckOut], [TotalPrice]) VALUES (2, N'Youstina kamal', N'Youstinakamal58@gmail.com', N'Egypt', 5, 2, 1, 1, CAST(N'2025-01-01' AS Date), CAST(N'2025-01-07' AS Date), CAST(1650 AS Decimal(18, 0)))
INSERT [dbo].[Reservations] ([ReservationId], [GuestName], [Email], [Country], [Adults], [Children], [RoomTypeId], [MealPlanId], [CheckIn], [CheckOut], [TotalPrice]) VALUES (3, N'Youstina kamal', N'Youstinakamal58@gmail.com', N'Egypt', 3, 2, 1, 1, CAST(N'2025-01-01' AS Date), CAST(N'2025-01-07' AS Date), CAST(1110 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomRates] ON 

INSERT [dbo].[RoomRates] ([RoomRateId], [RoomTypeId], [FromDate], [ToDate], [RatePerNight]) VALUES (1, 1, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-15' AS Date), CAST(80.000 AS Decimal(8, 3)))
INSERT [dbo].[RoomRates] ([RoomRateId], [RoomTypeId], [FromDate], [ToDate], [RatePerNight]) VALUES (2, 1, CAST(N'2026-01-16' AS Date), CAST(N'2026-04-30' AS Date), CAST(50.000 AS Decimal(8, 3)))
INSERT [dbo].[RoomRates] ([RoomRateId], [RoomTypeId], [FromDate], [ToDate], [RatePerNight]) VALUES (3, 2, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-15' AS Date), CAST(120.000 AS Decimal(8, 3)))
SET IDENTITY_INSERT [dbo].[RoomRates] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeId], [RoomTypeName], [MaxAdults], [MaxChildren]) VALUES (1, N'Standard Room                                     ', 2, 2)
INSERT [dbo].[RoomTypes] ([RoomTypeId], [RoomTypeName], [MaxAdults], [MaxChildren]) VALUES (2, N'Sea View                                          ', 2, 2)
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
/****** Object:  Index [IX_MealPlanRates]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[MealPlanRates] ADD  CONSTRAINT [IX_MealPlanRates] UNIQUE NONCLUSTERED 
(
	[MealPlanRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [IX_Reservations] UNIQUE NONCLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_1]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [IX_Reservations_1] UNIQUE NONCLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomRates]    Script Date: 6/26/2025 1:27:02 PM ******/
ALTER TABLE [dbo].[RoomRates] ADD  CONSTRAINT [IX_RoomRates] UNIQUE NONCLUSTERED 
(
	[RoomRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MealPlanRates]  WITH CHECK ADD  CONSTRAINT [FK_MealPlanRates_MealPlans] FOREIGN KEY([MealPlanId])
REFERENCES [dbo].[MealPlans] ([MealPlanId])
GO
ALTER TABLE [dbo].[MealPlanRates] CHECK CONSTRAINT [FK_MealPlanRates_MealPlans]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_MealPlans] FOREIGN KEY([MealPlanId])
REFERENCES [dbo].[MealPlans] ([MealPlanId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_MealPlans]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_RoomTypes] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([RoomTypeId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_RoomTypes]
GO
ALTER TABLE [dbo].[RoomRates]  WITH CHECK ADD  CONSTRAINT [FK_RoomRates_RoomTypes] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([RoomTypeId])
GO
ALTER TABLE [dbo].[RoomRates] CHECK CONSTRAINT [FK_RoomRates_RoomTypes]
GO
USE [master]
GO
